<h1>Listing posts</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published</th>
    <th>Comments Count</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.published %></td>
    <td><%= post.comments.size %></td>
    <td><%= link_to 'Show comments', post_comments_path(post) %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path, remote: true %>
